html{
    background-color: white;
}
body{
    padding: 1em;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8); 
    min-height: calc(100vh - 2em);
}
h1{
    text-align: center;
}
h1::after{
    content: '';
    width: 64px;
    height: 64px;
    background: url(javascript.png) center no-repeat;
    padding: 0.7em;
}
h6{
    margin: 0;
    padding: 1em;
}
footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 1); 
}
.imagens img{
    width: 100%;
    box-shadow: 0px 0px 15px 3px #CCC;
    margin: 0.8em auto;
}
.imagens{
    column-count: 3;
    margin-bottom: 50px;
}
@media only screen and (max-width: 576px){
    .imagens{
        column-count: 1;
    }
    body{
        padding: .5em;
        width: 95%;
    }
}
@media only screen and (min-width: 992px){
    body{
        width: 60%;
    }
    html{
        background: url(background.jpg) center;
        background-size: cover;
        background-attachment: fixed;
    }
}

a, a:hover, a:visited{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}